.the-cv {
  display: flex;
}

.quick-profile-panel {
  border: 2px solid grey;
  padding: 24px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 36px;

  flex-shrink: 0;
  flex-grow: 1;
}

.achievement-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.achievement-name {
  background-color: lightgray;
  padding: 2px 8px;
  margin-bottom: 12px;
}

.achievement-list, .personal-info-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-info-group {
  gap: 12px;
}

.personal-info-group img {
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: rgb(230, 230, 230);
}

.icon-name-pair {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cv-profile {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.creator-occupation {
  margin-top: 8px;
  font-weight: 400;
  color: rgb(110, 110, 110);
}

.creator-summary {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.creator-summary > p {
  font-weight: 300;
}

.work-experience-entry {
  display: flex;
  gap: 32px;
}

.year-span > div:nth-child(2) {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.experience-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hori-divider {
  border: 1px solid peachpuff;
}

.role {
  color: rgb(110, 110, 110);
}

.creator-achievements {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: rgb(57, 57, 57);
  margin-left: 15px;
}

.creator-achievements > li {
  list-style-type: circle;
}

.cv-app {
  display: flex;
  gap: 24px;
}

.cv-editor-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  overflow-y: auto;
}

.field-edit-list {
  position: relative;
  display: flex;
  gap: 12px;
}

.field-edit-list > li {
  position: relative;
  width: 82px;
  height: 82px;
}

.field-edit-btn {
  position: absolute;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transition-duration: 60ms;
}

.field-edit-btn:hover {
  transform: scale(1.1);
}

.field-edit-btn:active {
  transform: scale(1.15);
}

.interface-container {
  padding: 8px;
  flex-grow: 1;
  border: 2px solid grey;

  display: flex;
  flex-direction: column;
}

.interface-container > h2 {
  text-align: center;
  margin-bottom: 24px;
}

.interface-container input,
.interface-container textarea {
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px #ccc;
}

.interface-container textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  height: 400px;
  max-height: 400px;
}

.label-input-pair {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.general-info, .educational-experience-entry {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.educational-experience-entry {
  border: 1px solid grey;
  padding: 16px;
}

.inp-year-span-cont {
  display: flex;
}

.inp-year-span-cont > div {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}

.educational-experience-entry button {
  padding: 8px;
  border: 2px solid black;
}

.btn-animate {
  transition-property: transform background-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.btn-animate:hover {
  background-color: rgb(200, 200, 200);
}

.btn-animate:active {
  transform: scale(1.02);
}