.the-cv {
  display: flex;
}

.quick-profile-panel {
  border: 2px solid grey;
  padding: 24px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 36px;

  flex-shrink: 0;
  flex-grow: 1;
}

.achievement-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.achievement-name {
  background-color: lightgray;
  padding: 2px 8px;
  margin-bottom: 12px;
}

.achievement-list, .personal-info-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personal-info-group {
  gap: 12px;
}

.personal-info-group img {
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: rgb(230, 230, 230);
}

.icon-name-pair {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cv-profile {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.creator-occupation {
  margin-top: 8px;
  font-weight: 400;
  color: rgb(110, 110, 110);
}

.creator-summary {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.creator-summary > p {
  font-weight: 300;
}

.work-experience-entry {
  display: flex;
  gap: 32px;
}

.experience-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hori-divider {
  border: 1px solid peachpuff;
}

.role {
  color: rgb(110, 110, 110);
}

.creator-achievements {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: rgb(57, 57, 57);
  margin-left: 15px;
}

.creator-achievements > li {
  list-style-type: circle;
}

.cv-app {
  display: flex;
}