@font-face {
  font-family: JosefinSans;
  src: url("./assets/font/JosefinSans-Italic-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: JosefinSans;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  cursor: pointer;
}